{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="container contact">
	<p>If you have any questions or if you want to report a malfunction feel free to contact me to any of these sources:</p>
	<a href="https://twitter.com/QuestasP"><h2>Twitter</h2></a>
	<a href="https://www.facebook.com/onevone.eu/"><h2>Facebook Page</h2></a>
	<a href="https://www.reddit.com/message/compose/?to=plkost"><h2>Reddit /u/plkost</h2></a>
	<a href="https://github.com/KostasPelelis/onevone"><h2>Github Repository</h2></a>	
</div>

{% endblock %}